@model WebAppCore.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminCustomer" asp-action="Index" class="breadcrumb-item">Danh Sách Khách Hàng</a>
            <span class="breadcrumb-item active">Chỉnh Sửa Thông Tin Khách Hàng</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Chỉnh Sửa Thông Tin Khách Hàng</h4>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="FullName">Họ và Tên:</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone">Số Điện Thoại:</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">Địa Chỉ:</label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
        </form>
        <br />
        <a asp-action="Index">Quay Lại Danh Sách</a>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>