@model WebAppCore.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Index" class="breadcrumb-item">Danh Sách Sản Phẩm</a>
            <span class="breadcrumb-item active">Thông Tin Sản Phẩm</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông Tin Sản Phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tr>
                    <td>ID</td>
                    <td class="text-dart font-weight-semibold">@Model?.ProductId</td>
                </tr>
                <tr>
                    <td>Tên Sản Phẩm</td>
                    <td>@Model?.ProductName</td>
                </tr>
                <tr>
                    <td>Mô Tả Ngắn</td>
                    <td>@Model?.ShortDesc</td>
                </tr>
                <tr>
                    <td>Mô Tả</td>
                    <td>@Model?.Description</td>
                </tr>
                <tr>
                    <td>Thể Loại</td>
                    <td>@Model?.Cat?.CatName</td>
                </tr>
                <tr>
                    <td>Giá</td>
                    <td>@Model?.Price</td>
                </tr>
                <tr>
                    <td>Giảm Giá</td>
                    <td>@Model?.Discount</td>
                </tr>
                <!-- Add other fields as needed -->
            </table>
        </div>
        <a asp-action="Index">Back to List</a>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>