@model WebAppCore.Models.Role
@{
    ViewData["Title"] = "Xác Nhận Xoá Quyền Truy Cập";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumd breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="antion antion-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRole" asp-action="Index">Danh Sách Quyền Truy Cập</a>
            <span class="breadcrumb-item active">Xác Nhận Xoá Quyền Truy Cập</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông Tin Quyền Truy Cập</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tr>
                    <td>ID</td>
                    <td class="text-dart font-weight-semibold">@Model.RoleId</td>
                </tr>
                <tr>
                    <td>Tên Quyền Truy Cập</td>
                    <td>@Model.RoleName</td>
                </tr>
                <tr>
                    <td>Mô Tả</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td>Xác Nhận Xoá</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@Model.RoleId">
                            <input type="hidden" asp-for="RoleId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <a asp-action="Index">Back to List</a>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>